<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ title }}</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
                {{#if session.user}}
                <form class="navbar-form navbar-right">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="userMenu"
                            data-toggle="dropdown">
                            <span class="glyphicon glyphiconuser">{{session.user.username}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="userMenu">
                            <li><a href="/account">My Account</a></li>
                            <li><a href="/account/history">Login History</a></li>
                            <li><a href="/logout">Log Out</a></li>
                        </ul>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/tasks">Tasks</a></li>
                    <li><a href="/projects">Projects</a></li>
                </ul>
                {{else}}
                <form class="navbar-form navbar-right">
                    <a href="/register" class="btn btn-success">Register</a>
                    <a href="/login" class="btn btn-primary">Login</a>
                </form>
                {{/if}}


            </div>
        </div>
    </nav>

    <div class="container">
        {{{body}}}
    </div>

    <!-- jQuery libraries -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

</body>

</html>