<div id="account" class="flex column align-center">
    {{#if error}}
    <div class="flex align-center error mid-text"> {{error}}</div>
    {{/if}}

    <div class="card">
        <form name="update-account" method="post" action="/account">
            <input type="hidden" name="username" value='{{user.username}}'>

            <img id="avatar" src="/assets/avatar.png" height="115px" alt="Avatar">

            <div class="grouped-inputs flex row">
                <div class="form-label-input-div">
                    <p class="label small-text">Username</p>
                    <input type="text" name="new_username" class="input-field mid-text" placeholder="New Username"
                        autocomplete="off" value='{{user.username}}' required>
                </div>
                <div class="form-label-input-div">
                    <p class="label small-text">Current Password</p>
                    <input type="password" name="password" class="input-field mid-text" autocomplete="off">
                </div>
            </div>

            <div class="grouped-inputs flex row">
                <div class="form-label-input-div">
                    <p class="label small-text">New Password</p>
                    <input type="password" name="new_password" class="input-field mid-text" autocomplete="off">
                </div>
                <div class="form-label-input-div">
                    <p class="label small-text">Confirm New Password</p>
                    <input type="password" name="confirm_new_password" class="input-field mid-text" autocomplete="off">
                </div>
            </div>

            <button class="mid-text" type="submit">Update Account</button>
        </form>
    </div>

    <a href="/account/delete">
        <button id="delete-button" class="mid-text" type="button">Delete my account</button>
    </a>
</div>