<div id="account">
    {{#if error}}
    <div class="flex align-center error mid-text"> {{error}}</div>
    {{/if}}


    <form name="update-account" method="post" class="card" action="/account">
        <input type="hidden" id="username" name="username" placeholder="Username" value='{{user.username}}'>


        <input type="text" id="new_username" name="new_username" placeholder="New Username" value='{{user.username}}'
            required>

        <button class="mid-text" type="submit">Update Account</button>
    </form>

    <button id="delete-button" class="mid-text" href="/account/delete" >Delete my account</button>
</div>