<div id="account" class="flex column align-center">
    {{#if error}}
    <div class="flex align-center error mid-text"> {{error}}</div>
    {{/if}}

    <div class="card">
        <form name="update-account" method="post" action="/account">
            <input type="hidden" name="username" value='{{user.username}}'>

            <img id="avatar" src="/assets/avatar.png" height="115px" alt="Avatar">

            <div class="form-label-input-div flex row space-between">
                <div>
                    <p class="label">Username</p>
                    <input type="text" name="new_username" class="input-field mid-text" placeholder="New Username"
                        autocomplete="off" value='{{user.username}}' required>
                </div>
                <div>
                    <p class="label">Current Password</p>
                    <input type="password" name="password" class="input-field mid-text" autocomplete="off">
                </div>
            </div>

            <div class="form-label-input-div flex row space-between">
                <div>
                    <p class="label">New Password</p>
                    <input type="password" name="new_password" class="input-field mid-text" autocomplete="off">
                </div>
                <div>
                    <p class="label">Confirm New Password</p>
                    <input type="password" name="confirm_new_password" class="input-field mid-text" autocomplete="off">
                </div>
            </div>

            <div class="flex row space-between primary-secondary-buttons">
                <a href="/account/delete">
                    <button id="delete-button" class="mid-text" type="button">Delete account</button>
                </a>
                <button class="mid-text" type="submit" id="primary">Update my account</button>
            </div>
        </form>
    </div>
</div>