<div id="account" class="flex column align-center">
    {{#if success}}
    <div class="flex align-center success"> {{success}}</div>
    {{/if}}

    {{#if error}}
    <div class="flex align-center error"> {{error}}</div>
    {{/if}}

    <div class="card">
        <form name="update-account" method="post" action="/account" onsubmit="noMultipleSubmit(this)">

            <img id="avatar" src="/assets/avatar.png" height="115px" alt="Avatar">

            <div class="form-label-input-div flex row space-between wrap">
                <div>
                    <p class="label">Username</p>
                    <input type="text" name="username" class="input-field disabled mid-text" placeholder="New Username"
                        autocomplete="off" value='{{user.username}}' disabled>
                </div>
                <div>
                    <p class="label">Current Password</p>
                    <input type="password" name="password" class="input-field mid-text" autocomplete="off">
                </div>
            </div>

            <div class="form-label-input-div flex row space-between wrap">
                <div>
                    <p class="label">New Password</p>
                    <input type="password" name="new_password" class="input-field mid-text" autocomplete="off">
                </div>
                <div>
                    <p class="label">Confirm New Password</p>
                    <input type="password" name="confirm_new_password" class="input-field mid-text" autocomplete="off">
                </div>
            </div>

            <div class="button-row wrap-reverse">
                <a href="/account/delete">
                    <button class="btn-delete mid-text" type="button">Delete account</button>
                </a>
                <button class="btn-primary mid-text" type="submit">Update my account</button>
            </div>
        </form>
    </div>
</div>