<div id="delete" class="flex column align-center">
    {{#if error}}
    <div class="flex align-center error mid-text"> {{error}}</div>
    {{/if}}

    <form name="delete-account" method="post" action="/account/delete">

        <img src="/assets/cat-drops-cup.png" height="200px">

        <h4 class="big-text">Please read this carefully!</h4>
        <p class="mid-text grey">When you confirm that you want to delete your account, your account, tasks and projects
            will be deleted. This
            action IS NOT REVERSIBLE.</p>

        <a href="/account">
            <button class="mid-text" type="button">Keep my account</button>
        </a>
        <button class="mid-text" id="delete-button" type="submit">Delete</button>
    </form>
</div>