<div class="row">
    <div class="col-md-12">

        <h2>{{department.name}} - Department №{{ department.depNumber}}</h2>
        <hr />
        <form method="post" action="/department/update">

            <input class="form-control" id="depNumber" name="depNumber" type="hidden"
                value="{{ department.depNumber}}" />

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Department</label>
                        <input class="form-control" id="name" name="name" type="text" value="{{ department.name}}" />
                    </div>
                </div>
            </div>

            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>