<div id="home">
    <div class="flex column align-center">
        <h1 class="main-header center">Start managing your tasks and projects.</h1>
        <img src="/assets/start-with-topmanager.png" alt="Start with TopManager illustration">
        <a href="/signup"><button class="mid-text" id="start-with-topmanager">Start with TopManager</button></a>
    </div>

    <div class="flex column align-center">
        <h1 class="big-text center">Coming Soon</h1>

        <!--hardcoded for now - should be loaded from db-->
        <div class="card">
            <h2 class="mid-text">Contact Form</h2>
            <p class="small-text">Send us emails from the contact form of this website!</p>
        </div>

        <div class="card">
            <h2 class="mid-text">Forgot Password</h2>
            <p class="small-text">Forgot password? No problem we'll send you recovery email!</p>
        </div>

        <div class="card">
            <h2 class="mid-text">Upload Your Avatar</h2>
            <p class="small-text">No more general avatars, upload your own one!</p>
        </div>

        <div class="card">
            <h2 class="mid-text">Mobile Re-design</h2>
            <p class="small-text">Welcome TopManager web-application on your phone!</p>
        </div>

        <p class="tiny-text center">Have a suggestion?
            <br>
            <a href="/contact" class="tiny-text">Contact Us</a>
        </p>

    </div>
</div>

<script src="/scripts/home.js"></script>