<div id="home">
    <div class="flex column align-center">
        <h1 class="main-header center">Start managing your tasks and projects.</h1>

        <div id="carousel" class="flex row justify-center align-center">
            <img src="previous-icon.svg" id="previous">
            <div>
                <img src="preview.jpg" class="active carousel-img">
                <img src="preview-1.jpg" class="carousel-img">
            </div>
            <img src="next-icon.svg" id="next">
        </div>

        <div class="carousel-dots flex row">
            <div class="dot active"></div>
            <div class="dot"></div>
        </div>

    </div>

    <div class="flex column align-center">
        <h1 class="big-text center">Coming Soon</h1>

        <!--hardcoded for now - should be loaded from db-->
        <div class="card">
            <h2 class="mid-text">Website Re-design</h2>
            <p class="small-text">New enhanced design coming for TopManager website!</p>
        </div>

        <div class="card">
            <h2 class="mid-text">Website Re-design</h2>
            <p class="small-text">New enhanced design coming for TopManager website!</p>
        </div>

        <div class="card">
            <h2 class="mid-text">Website Re-design</h2>
            <p class="small-text">New enhanced design coming for TopManager website!</p>
        </div>

        <div class="card">
            <h2 class="mid-text">Website Re-design</h2>
            <p class="small-text">New enhanced design coming for TopManager website!</p>
        </div>

        <p class="tiny-text center">Have a suggestion?
            <br>
            <a href="/contact" class="tiny-text">Contact Us</a>
        </p>

    </div>
</div>

<script>
    const previous = document.getElementById("previous");
    const next = document.getElementById("next");

    const carouselImages = document.getElementsByClassName("carousel-img");
    const dots = document.getElementsByClassName("dot");

    let currentIndex = 0;

    next.addEventListener("click", () => {
        carouselImages[currentIndex].classList.remove("active");
        dots[currentIndex].classList.remove("active");

        currentIndex++;
        if (currentIndex >= carouselImages.length)
            currentIndex = 0;

        carouselImages[currentIndex].classList.add("active");
        dots[currentIndex].classList.add("active");
    });

    previous.addEventListener("click", () => {
        carouselImages[currentIndex].classList.remove("active");
        dots[currentIndex].classList.remove("active");

        currentIndex--;
        if (currentIndex <= -1)
            currentIndex = carouselImages.length - 1;

        carouselImages[currentIndex].classList.add("active");
        dots[currentIndex].classList.add("active");
    });


</script>