<div id="login" class="flex column align-center">

    {{#if error}}
    <div class="flex align-center error mid-text"> {{error}}</div>
    {{/if}}

    <div class="card">
        <h2 class="big-text">Welcome back!</h2>
        <form name="login" method="post" action="/login">
            <div>
                <p class="label small-text">Username</p>
                <input type="text" class="input-field mid-text" id="username" name="username" autocomplete="off" required>
            </div>
            <div>
                <p class="label small-text">Password</p>
                <input type="password" class="input-field mid-text" id="password" name="password" required>
            </div>
            <button class="mid-text">Login</button>
            <p class="tiny-text center">Don't have account?
                <a href="/signup" class="tiny-text">Sign Up</a>
            </p>
        </form>
    </div>

</div>