<div id="login" class="flex column align-center">

    {{#if error}}
    <div class="flex align-center error">{{error}}</div>
    {{/if}}

    <div class="card">
        <h2 class="big-text">Welcome back!</h2>
        <form name="login" method="post" action="/login">
            <div class="form-label-input-div">
                <p class="label">Username</p>
                <input type="text" class="input-field mid-text" name="username" autocomplete="off" required>
            </div>
            <div class="form-label-input-div">
                <p class="label">Password</p>
                <input type="password" class="input-field mid-text" name="password" required>
            </div>
            
            <button class="mid-text" type="submit">Login</button>
            <p class="tiny-text center">Don't have account?
                <a href="/signup" class="tiny-text">Sign Up</a>
            </p>
        </form>
    </div>

</div>