<div id="login">

    {{#if error}}
    <div class="error"> {{error}}</div>
    {{/if}}

    <div class="card">
        <h2 class="big-text">Welcome back!</h2>
        <form name="login" method="post" action="/login">
            <div>
                <p class="label">Username</p>
                <input type="text" class="form-control" id="username" name="username" autocomplete="off" required>
            </div>
            <div>
                <p class="label">Password</p>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button>Login</button>
            <p class="tiny-text center">Don't have account?
                <a href="/signup" class="tiny-text">Sign Up</a>
            </p>
        </form>
    </div>

</div>