<div id="oops" class="flex column align-center">
    <h1 class="big-text">Oops, we've encountered {{message}}.</h1>
    <p class="mid-text grey">Try again later or <a href="/contact" class="grey">Contact Us</a>.</p>
    <img src="/assets/oops.png" alt="Oops illustration">
</div>