<div id="signup" class="flex column align-center">

    {{#if error}}
    <div class="flex align-center error">{{error}}</div>
    {{/if}}

    <div class="card">
        <h2 class="big-text">Join Us!</h2>
        <form name="signup" method="post" action="/signup">
            <div class="form-label-input-div">
                <p class="label">Username</p>
                <input type="text" class="input-field mid-text" name="username" autocomplete="off" required>
            </div>
            <div class="form-label-input-div">
                <p class="label">Password</p>
                <input type="password" class="input-field mid-text" name="password" required>
            </div>
            <div class="form-label-input-div">
                <p class="label">Confirm Password</p>
                 <input type="password" class="input-field mid-text" name="confirm_password" required>
            </div>

            <button class="mid-text" type="submit">Create my account</button>
            <p class="tiny-text center">Have an account?
                <a href="/login" class="tiny-text">Login</a>
            </p>
        </form>
    </div>

</div>