<div id="signup">

    {{#if error}}
    <div class="error"> {{error}}</div>
    {{/if}}

    <div class="card">
        <h2 class="big-text">Join Us!</h2>
        <form name="signup" method="post" action="/signup">
            <div>
                <p class="label">Username</p>
                <input type="text" class="form-control" id="username" name="username" autocomplete="off" required>
            </div>
            <div>
                <p class="label">Password</p>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div>
                <p class="label">Confirm Password</p>
                 <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div>
            <button>Create my account</button>
            <p class="tiny-text center">Have an account?
                <a href="/login" class="tiny-text">Login</a>
            </p>
        </form>
    </div>

</div>