/*General Card & Error( designed to go with cards)*/
.card {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
    text-align: center;
}

.error {
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 182, 29, 0.65);
    font-weight: 700;

    padding: 0 24px;
    height: 48px;
}

.card,
.error {
    width: 320px;
    width: var(--card-width);

    margin-top: 36px;
    margin-top: var(--gutter);
}



/* Custom Card Settings For Different Pages */

/* Navbar account menu dropdown */
.dropdown {
    position: relative;
}

.dropdown .card {
    position: absolute;
    right: 0;
    margin-top: 10px;
    padding: 24px 12px;
    width: 135px;
}

.dropdown .hr {
    height: 1px;
    border: 1;
    width: 65%;
    margin: 10px auto;
    background-color: #c1c1c1;
}

/* Home page coming soon cards */
#home .card {
    margin: 0;

    width: 240px;
    width: var(--home-page-card-width);

    padding: 24px;
    margin-bottom: 24px;
}

/* Tasks & Projects page cards */
#cards {
    margin: 36px;
    margin: var(--gutter);
    
    gap: 24px;
}

#cards .card {
    margin: 0;
    padding: 24px;
    text-align: left;
}

/*Account page large card*/
#account .card,
#account .error {
    width: 640px;
    width: var(--large-card-width);

    
}

#account .card {
    padding-top: 36px;
    padding-top: var(--gutter);
}