/*Icons*/
.icon {
    width: 20px;
    width: var(--icon-width);

    height: 20px;
    height: var(--icon-width);
}

.delete-icon {
    width: 16px;
}

.checkmark-icon {
    margin: -30px;

    height: 36px;
    height: var(--input-height);
}

/*Images*/
#page404>img,
#oops>img,
#no-projects>img,
#no-tasks>img,
#home img {
    margin: 36px;
    margin: var(--gutter);

    width: 320px;
    width: var(--card-width);
}