/*General setting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    color: black;
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    text-decoration: none;
}

html,
body {
    height: 100%;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.center {
    text-align: center;
}

.big-text {
    font-size: 20px;
}

.mid-text {
    font-size: 16px;
    margin-bottom: 4px;
}

.small-text {
    font-size: 14px;
    color: #9C9C9C;
}

.tiny-text {
    font-size: 12px;
    color: #9C9C9C;
}

.cursor-pointer {
    cursor: pointer;
}

.grow-on-hover {
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden;

}

.grow-on-hover:hover {
    transform: scale(1.1);
    color: #363636;
}




/*Navbar*/
nav * {
    list-style: none;
    border: none;
}

nav {
    height: 100px;
    padding: 36px 24px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

nav li,
nav h1 {
    padding: 0 12px;
}

nav li,
nav li * {
    color: #9C9C9C;
    font-size: 16px;
}

nav li#username {
    color: #000000;
    font-weight: bold;
}

nav li#login-button {
    padding: 4px 24px;
    margin: 0 12px;
    border-radius: 50px;
    background: linear-gradient(180deg, #A128EC 0%, rgba(161, 40, 236, 0.50) 100%);
    color: white;
}

nav img#logo {
    height: 70px;
}

nav img#avatar {
    height: 50px;
}

/*Dropdown*/
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    padding: 24px 12px;
    width: 135px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.dropdown-content .hr {
    height: 1px;
    border: 1;
    width: 65%;
    margin: 10px auto;
    background-color: #c1c1c1;
}

/*Image Carousel*/
.carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.carousel #previous,
.carousel #next {
    z-index: 1;
}

.carousel #previous {
    margin-right: -5%;
}

.carousel #next {
    margin-left: -5%;
}

.carousel .carousel-img {
    object-fit: contain;
    height: auto;
    max-height: 65vh;
    display: none;
}

.carousel .active {
    display: block;
}

.carousel-dots {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 10px;
}

.dot {
    border-radius: 100%;
    border: 1px solid #9C9C9C;
    width: 10px;
    height: 10px;
    background-color: white;
    transition: background-color 0.6s ease;
}

.carousel-dots .active {
    background-color: #717171;
}

/*Card Design*/
.card {
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.card form>div {
    text-align: left;
    margin: 24px 36px;
}

.card .label {
    font-size: 14px;
    margin-bottom: 4px;
}

.card input,
.card button {
    width: 248px;
    height: 36px;
    border-radius: 10px;
    border: 1px solid #000;
}

.card input {
    padding: 0 12px;
    font-size: 16px;
}

.card button {
    background-color: #A128EC;
    border: none;
    color: #FFF;
    font-size: 16px;
    margin: 24px 36px;
    margin-bottom: 36px;
}

/*Error Message*/
.error {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 48px;
    border-radius: 10px;
    border: none;
    background-color: rgba(255, 182, 29, 0.65);
    font-size: 16px;
    font-weight: 700;
}

/*404 Page, No Projects, No Tasks*/
#page404,
#no-projects,
#no-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

#page404>h1,
#no-projects>h1,
#no-tasks>h1 {
    font-size: 20px;
    margin-top: 84px;
}

#page404>img,
#no-projects>img,
#no-tasks>img {
    width: 320px;
}

.add-button {
    width: 42px;
    height: 42px;
    background-color: #FFB61D;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.add-button > img {
    width: 20px;
    height: 20px;
}

/*Home Page*/
#home {
    margin: 42px;
    display: grid;
    grid-template-columns: auto 240px;
    grid-gap: 42px;
}

#home>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home .main-header,
#home .side-header {
    text-align: center;
    margin-bottom: 42px;
}

#home .main-header {
    font-size: 24px;
}

#home .side-header {
    font-size: 20px;
}

#home .card {
    width: 240px;
    padding: 24px;
    margin-bottom: 21px;
}

/*Login & Sign Up Page*/
#login,
#signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login .card,
#login .error,
#signup .card,
#signup .error {
    width: 320px;
    margin-top: 36px;
}

#login .card .big-text,
#signup .card .big-text {
    margin: 36px 0;
}

#login .card button,
#signup .card button {
    margin-bottom: 4px;
}

#login .card .tiny-text,
#signup .card .tiny-text {
    margin-bottom: 36px;
}

#login .card .tiny-text a,
#signup .card .tiny-text a {
    text-decoration: underline;
    text-underline-offset: 3px;
}