/* Colors */
:root {
    --purple: #A128EC;
    --accent-yellow: #FFB61D;
    --light-purple: rgba(161, 40, 236, 0.50);
    --red: #EC2828;
    --error-red: rgb(255, 165, 165);
    --success-green: rgb(167, 255, 142);
    --orange: #FFB61D;
    --light-orange: rgba(255, 182, 29, 0.65);
    --grey: #9C9C9C;
    --divider-grey: #C1C1C1;
    --dark-grey: #363636;
}


/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    word-break: normal;
}

html,
body {
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Projects / Tasks page */
.header-row {
    margin: 36px;
    margin-bottom: 0;
}

@media (max-width: 700px) {
    .header-row {
        gap: 12px;
        margin-top: 24px;
    }
}


/* Utility Classes */
.cursor-pointer {
    cursor: pointer;
}

.no-display {
    display: none;
}

.block-display {
    display: block;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}

/* General Animations */
.grow-on-hover {
    transition: all 0.2s ease-in-out;
    backface-visibility: hidden;
}

.grow-on-hover:hover {
    transform: scale(1.1);
    color: var(--dark-grey);
}