/*Font size*/
.main-header {
    font-size: 24px;
}

.big-text {
    font-size: 20px;
}

.mid-text {
    font-size: 16px;
}

.small-text {
    font-size: 14px;
}

.tiny-text {
    font-size: 12px;
}



/*Text aligns*/
.center {
    text-align: center;
}



/*Colors*/
.grey,
.small-text,
.tiny-text {
    color: #9C9C9C;
    color: var(--grey);
}

.label {
    color: #000;
}



/* Custom Text Stylings*/
nav li,
nav li * {
    font-size: 16px;

    color: #9C9C9C;
    color: var(--grey);
}

nav li,
nav h1 {
    margin: 0 12px;
}

.label {
    font-size: 14px;
    margin-bottom: 4px;
}

#priority .label {
    margin-left: 4px;
}

#login .big-text,
#signup .big-text,
.add-popup .big-text {
    margin: 36px 0;
    margin: var(--gutter) 0;
}

#login .tiny-text,
#signup .tiny-text {
    margin-bottom: 36px;
    margin-bottom: var(--gutter);
}

#login .tiny-text a,
#signup .tiny-text a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

#home .main-header,
#home .big-text {
    margin-bottom: 42px;
}

#home .mid-text {
    margin-bottom: 4px;
}

#page404 .big-text,
#no-projects .big-text,
#no-tasks .big-text {
    margin-top: 84px;
}

.header-row .big-text {
    margin-right: 12px;
}