/* Card */
.card {
    margin: 36px;
    padding: 36px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    background-color: white;
    text-align: center;
}

.card,
.success,
.error {
    width: 90%;
    max-width: 320px;
}

#account .card,
#account .error,
#account .success {
    width: 90%;
    max-width: 640px;
}


/* Success and error messages */
.success,
.error {
    margin-top: 36px;
    padding: 12px 24px;
    height: fit-content;
    min-height: 48px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
    color: black;
    animation: fadeIn 500ms ease both;
}

.success {
    background-color: var(--success-green);
}

.error {
    background-color: var(--error-red);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Group of cards (tasks or projects) */
#cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
    padding: 36px;
    overflow-x: auto;
    margin: 0;
}

#cards .card {
    margin: 0;
    padding: 24px;
    text-align: left;
    width: 100%;
    max-width: 100%;
}

.priority-indicator {
    opacity: 0.65;
}

.overdue {
    color: red;
    font-weight: 550;
}


/* Popup to add or update task or project */
.add-popup,
.update-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-y: auto;
}


@media (max-width: 700px) {

    #account .card,
    #account .error,
    #account .success {
        width: 90%;
        max-width: 320px;
    }

}

@media (max-width: 320px) {

    #cards {
        padding: 24px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .card {
        padding: 36px 24px;
    }

    .card,
    .error,
    .success,
    #account .card,
    #account .error,
    #account .success {
        width: 100%;
    }

}