/* Input and labels */
.form-label-input-div {
    text-align: left;
    margin: 24px 0;
    gap: 24px;
}

.label {
    color: black;
    font-size: 14px;
    margin-bottom: 4px;
}

#priority .label {
    margin-left: 4px;
}

.input-field {
    padding: 0 12px;
    border-radius: 10px;
    border: 1px solid black;
}

.input-field,
#priority {
    width: 248px;
    height: 36px;
}

textarea.input-field {
    height: 72px;
    padding-top: 4px;
    resize: vertical;
}

#account .input-field {
    /* Account page has 2 inputs per row */
    width: 266px;
}


/* Project rename on project page */
#project-name.input-field {
    font-size: 20px;
    font-weight: 700;
    border: none;
    padding-right: 35px;
}

#project-name.input-field:focus {
    border: 1px solid black;
}


/* Task form: Calendar icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0.5;
}

/* Task form: Dropdown icon */
select {
    appearance: none;
    background: url("/icons/arrow-down.svg") no-repeat;
    background-size: 13px 13px;
    background-position: calc(100% - 15px) center;
}

/* Task form: Priority checkboxes */
.checkbox .label {
    margin: 0;
    padding-left: 2px;
}

.checkbox input[type="checkbox"] {
    accent-color: white;
}


/* Delete account page */
#delete-account form {
    width: 497px;
    padding: 72px 36px;
}


@media (max-width: 700px) {

    .form-label-input-div>div,
    #account .input-field {
        width: 100%;
    }

    #delete-account form {
        width: 100%;
        max-width: 497px;
    }

}

@media (max-width: 350px) {

    .input-field,
    #priority {
        width: 100%;
    }

}