/* Large text */
.big-text {
    font-size: 20px;
}

#signup .big-text,
#login .big-text {
    padding-bottom: 12px;
}

#contact .big-text {
    margin-bottom: 8px;
}

.header-row .big-text {
    margin-right: 12px;
}

#page404 .big-text,
#oops .big-text,
#no-projects .big-text,
#no-tasks .big-text {
    margin: 24px;
    margin-top: 84px;
    text-align: center;
}

#delete-account .big-text {
    margin-top: 12px;
}


/* Medium text */
.mid-text {
    font-size: 16px;
}

#cards .mid-text {
    margin-bottom: 8px;
}

#delete-account .mid-text.grey {
    margin-top: 24px;
}

#oops .mid-text {
    margin-top: 8px;
    text-align: center;
}


/* Small text */
.small-text {
    font-size: 14px;
}

.grey,
.small-text,
.tiny-text {
    color: var(--grey);
}

.tiny-text {
    font-size: 12px;
}

#login .tiny-text a,
#signup .tiny-text a,
#oops a {
    text-decoration: underline;
    text-underline-offset: 3px;
}

#no-projects .tiny-text,
#no-tasks .tiny-text {
    text-align: center;
}