/* Icons */
.icon {
    width: 20px;
    height: 20px;
}

.delete-icon {
    width: 16px;
}

.checkmark-icon {
    margin: -30px;
}


/* Images */
#page404>img,
#oops>img,
#no-projects>img,
#no-tasks>img {
    margin: 36px;
    width: 94%;
    min-width: 100px;
    max-width: 320px;
}